[submodule "themes/rose-pine-neovim"]
	path = themes/rose-pine-neovim
	url = https://github.com/rose-pine/neovim.git
[submodule "themes/vscode-nvim"]
	path = themes/vscode-nvim
	url = https://github.com/Mofiqul/vscode.nvim.git
[submodule "themes/tokyonight-nvim"]
	path = themes/tokyonight-nvim
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "themes/everforest-nvim"]
	path = themes/everforest-nvim
	url = https://github.com/neanias/everforest-nvim.git
[submodule "themes/everviolet-nvim"]
	path = themes/everviolet-nvim
	url = https://github.com/everviolet/nvim.git
[submodule "themes/catppuccin-nvim"]
	path = themes/catppuccin-nvim
	url = https://github.com/catppuccin/nvim.git
[submodule "themes/miasma-nvim"]
	path = themes/miasma-nvim
	url = https://github.com/xero/miasma.nvim.git
[submodule "themes/kanagawa-nvim"]
	path = themes/kanagawa-nvim
	url = https://github.com/rebelot/kanagawa.nvim.git
[submodule "themes/kanagawa-paper-nvim"]
	path = themes/kanagawa-paper-nvim
	url = https://github.com/thesimonho/kanagawa-paper.nvim.git
[submodule "themes/gruvbox-nvim"]
	path = themes/gruvbox-nvim
	url = https://github.com/ellisonleao/gruvbox.nvim.git
[submodule "themes/gruvbox-baby"]
	path = themes/gruvbox-baby
	url = https://github.com/luisiacc/gruvbox-baby.git
[submodule "themes/onenord-nvim"]
	path = themes/onenord-nvim
	url = https://github.com/rmehri01/onenord.nvim.git
[submodule "themes/nordic-nvim"]
	path = themes/nordic-nvim
	url = https://github.com/alexvzyl/nordic.nvim.git
[submodule "themes/melange-nvim"]
	path = themes/melange-nvim
	url = https://github.com/savq/melange-nvim.git
[submodule "themes/tender-vim"]
	path = themes/tender-vim
	url = https://github.com/jacoborus/tender.vim.git
[submodule "themes/vim-moonfly-colors"]
	path = themes/vim-moonfly-colors
	url = https://github.com/bluz71/vim-moonfly-colors.git
[submodule "themes/vim-nightfly-colors"]
	path = themes/vim-nightfly-colors
	url = https://github.com/bluz71/vim-nightfly-colors.git
[submodule "themes/vague-nvim"]
	path = themes/vague-nvim
	url = https://github.com/vague-theme/vague.nvim.git
[submodule "themes/poimandres-nvim"]
	path = themes/poimandres-nvim
	url = https://github.com/olivercederborg/poimandres.nvim.git
[submodule "themes/boo-colorscheme-nvim"]
	path = themes/boo-colorscheme-nvim
	url = https://github.com/rockerboo/boo-colorscheme-nvim.git
[submodule "themes/vesper-nvim"]
	path = themes/vesper-nvim
	url = https://github.com/datsfilipe/vesper.nvim.git
[submodule "themes/mellifluous-nvim"]
	path = themes/mellifluous-nvim
	url = https://github.com/ramojus/mellifluous.nvim.git
