[opener]
edit = [
	{ run = 'nvim "$@"', block = true, for = "unix" },
]
play = [
	{ run = 'flatpak run org.videolan.VLC "$@"', orphan = true, for = "unix" },
]
view_image = [
	{ run = 'qview "$@"', orphan = true, for = "unix" },
]
view_pdf = [
	{ run = 'flatpak run org.kde.okular "$@"', orphan = true, for = "unix" },
]

[open]
prepend_rules = [
	# Programming & Text
	{ name = "*.nix", use = "edit" },
	{ name = "*.go", use = "edit" },
	{ name = "*.c", use = "edit" },
	{ name = "*.cpp", use = "edit" },
	{ name = "*.rs", use = "edit" },
	{ name = "*.json", use = "edit" },
	{ name = "*.lua", use = "edit" },
	{ name = "*.py", use = "edit" },
	{ name = "*.md", use = "edit" },
	{ name = "*.txt", use = "edit" },

	# PDF
	{ mime = "application/pdf", use = "view_pdf" },

	# Images
	{ mime = "image/*", use = "view_image" },

	# Videos & Audio
	{ mime = "video/*", use = "play" },
	{ mime = "audio/*", use = "play" },

	# Fallbacks
	{ mime = "text/*", use = "edit" },
	{ mime = "application/x-empty", use = "edit" },
]

